<section class="artistpage">
    <div class="search">
        <h1>Artist Directory</h1>
        <label>Search:</label>
        <input ng-model="query" placeholder="Search for Artists" autofocus>
        <label class="formgroup">by:
            <select ng-model="artistOrder">
                <option value="name">Name</option>
                <option value="reknown">Reknown</option>
            </select>
        </label>
        <label class="formgroup">ascending
            <input type="radio" ng-model="direction" name="direction" checked>
        </label>
        <label class="formgroup">descending
            <input type="radio" ng-model="direction" name="direction" value="reverse">
        </label>
    </div>
    <ul class="artistlist">
        <li ng-animate="'animate'" class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction">
            <a href="#/details/{{artists.indexOf(item)}}">
                <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{artists[whichItem].name}}">
                <div class="info">
                    <h2>{{item.name}}</h2>
                    <h3>{{item.reknown}} </h3>
                </div>
            </a>
        </li>
    </ul>
</section>
